.tela {
    position: relative;
    width: 1600px;
    height: 500px;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  .bus-container {
    position: absolute;
  }
  

.caixa{
    color: white;
    width: 300px;
}

button{
    background-color: aquamarine;
    border-radius: 15px;
    margin-left: 5px;
}