  .botao{
    background-color: black;
    border-radius: 15px;
    font-size: 20px;
    color: gold;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
  }

 .container{
  background-color: rgb(124, 238, 134);
  width: fit-content;
  border-radius: 15px;
  padding: 10px;
 }

 .vizualizar{
  background-color: rgb(124, 238, 134);
    border-radius: 15px;
    font-size: 15px;
    color: black;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
 }