<div id="menu">
    <ul class="horizontal">
        <li><a routerLink="/exemploBindings" routerLinkActive="linkSelected">Exemplo Binding</a></li>
        <li><a routerLink="/imc" routerLinkActive="linkSelected">Calculo IMC</a></li>
        <li>
            <div class="dropdown">
                <a class="dropbtn">NGs</a>
                <div class="dropdown-content">
                    <a routerLink="/ng-class" routerLinkActive="linkSelected">Ng Class</a>
                    <a routerLink="/ng-style" routerLinkActive="linkSelected">Ng Style</a>
                    <a routerLink="/ng-model" routerLinkActive="linkSelected">Ng Model</a>
                    <a routerLink="/ng-if" routerLinkActive="linkSelected">Ng If</a>
                    <a routerLink="/ng-for" routerLinkActive="linkSelected">Ng For</a>
                    <a routerLink="/ng-switch" routerLinkActive="linkSelected">Ng Switch</a>
                </div>
            </div>
        </li>
        <li><a routerLink="/pipes" routerLinkActive="linkSelected">Pipes</a></li>
        <li><a routerLink="/microondas" routerLinkActive="linkSelected">Microondas</a></li>
        <li><a routerLink="/pai-filho" routerLinkActive="linkSelected">Pai->Filho</a></li>
        <li><a routerLink="/filho-pai" routerLinkActive="linkSelected">Filho->Pai</a></li>
        <li><a routerLink="/service" routerLinkActive="linkSelected">Service</a></li>
    </ul>
</div>
