.vermelho{
    color: white;
    background-color: red;
    border-radius: 15px;
    width: fit-content;
    padding: 10px;
}

.amarelo{
    color: black;
    background-color: yellow;
    border-radius: 15px;
    width: fit-content;
    padding: 10px;
}

.verde{
    color: white;
    background-color: green;
    border-radius: 15px;
    width: fit-content;
    padding: 10px;
}