.container {
  text-align: center;
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  border: 2px solid #333333;
  border-radius: 10px;
  background: #333333;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

h3 {
  font-size: 24px;
  color: #04aa6d;
  margin-bottom: 20px;
  color: #fff;
}


  